$margin-container : 64px;

.container{
    margin:0 auto;
    position: relative;
    @include block;

    @include desktop{
        max-width: $desktop - 2*$margin-container;
        width: $desktop - 2*$margin-container;        
    }

    &.is-small{
        @include desktop{
            max-width: $desktop - 4.5*$margin-container;
            width: $desktop - 4.5*$margin-container;        
        }
    }

    &.is-medium{
        @include desktop{
            max-width: $desktop - 2*$margin-container;
            width: $desktop - 2*$margin-container;        
        }
    }
    &.is-large{
        @include desktop{
            max-width: $desktop - 1*$margin-container;
            width: $desktop - 1*$margin-container;        
        }
    }

    &.is-centered{
        text-align: center;
    }

}