@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin center($size) {
    left: 50%;
    margin-left: -($size/2);
    margin-top: -($size/2);
    position: absolute;
    top: 50%;
}

@mixin inline-block {
    display: -moz-inline-stack;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

@mixin button-control-flex{
    appearance: none;
    align-items: center;
    box-shadow: none;
    display: inline-flex;
    font-size: $size-normal;
    justify-content: flex-start;
    position: relative;
    vertical-align: top;
    &:focus,&.is-focused,&:active,&.is-active{
      outline: none;
        }
    &[disabled]{
      cursor: not-allowed;
    }
}

@mixin unselectable{
    user-select: none;
}
@mixin block{
    &:not(:last-child){
        margin-bottom: 1.5rem;
    }
}