.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    color: $text;
    border: 1px solid darken($white-er,10);
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    background: $background;
    transition: 0.4s;
    &:hover{
        box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
    }

    &.is-transparent{
        background-color: transparent;
        border: transparent;
        box-shadow:none;
        color: white;
        &:hover{
            border: transparent;
            box-shadow: none;
        }
        .card-content{
            background: transparent;
        }
    }
}

.card-image{
    width: 100%;
    &.is-small{
        max-width: 60%;
        align-self: center;
    }
    &.is-medium{
        width:75%;
        align-self: center;
    }
    &.is-large{
        width:90%;
        align-self: center;
    }
}

.card-content{
    padding: 1.5rem;
    background-color: $background;
    flex: 1 1 auto;
    &.is-centered{
        text-align: center;
    }
}

.card-header{
    align-items: stretch;
    display: flex;
    box-shadow: 0 1px 2px rgba(0,0,0, 0.1);
}

.card-header-title{
    align-items: center;
    display: flex;
    flex-grow: 1;
    color: $text;
    padding: 0.75rem;
    &.is-centered{
        justify-content: center;
    }
}
.card-footer{
  border-top: 1px solid $text;
  align-items: stretch;
  display: flex;
}
.card-footer-item{
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  padding: 0.75rem;
  &:not(:last-child){
    border-right: 1px solid $text;
  }
}