$tooltip-bg : $text !default;
$tooltip-tc : $background !default;

.tooltip{
    position: relative;
    display: inline-block;
    word-wrap: break-word;

    .button,button{
        margin:0;
    }
    &:hover .tooltip-text{
        visibility: visible;
        opacity: 1;
    }
    .tooltip-text{
        visibility: hidden;
        opacity: 0;
        width: 120px;
        background-color: $tooltip-bg;
        color: $tooltip-tc;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
    
        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
    
        /* Fade in tooltip */
        transition: 0.4s;
    }
    .tooltip-text::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: $tooltip-bg transparent transparent transparent;
    }

    @each $name, $pair in $colorschemes {
        $bgcolor: nth($pair, 1);
        $text-color: nth($pair, 2);
        &.is-#{$name} {
            .tooltip-text{
                background-color: $bgcolor;
                color: $text-color;
            }
            .tooltip-text::after{
                border-color: $bgcolor transparent transparent transparent;
            }
        }
    }
}