@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@for $i from 1 through 6{
    h#{$i},.h#{$i} {
        font-size: nth($sizes, $i);
        font-family:'Open Sans', sans-serif ;
//        font-family: $family-sans-serif;
        @include block;
        word-break: break-word;
        font-weight: normal;
        &.is-bold{
            font-weight: bold; 
        }
    }
}

.text{
    @include block;
}


